<%= form_for @customer do |f|%>
<table>
  <tr>
    <td>
      <%= f.label :first_name %>
    </td>
    <td>
      <%=f.text_field :first_name%>
      <div style='color: red;'><%= validation_errors @customer.errors['first_name'] %></div>
    </td>
  </tr>

  <tr>
    <td>
      <%= f.label :last_name %>
    </td>
    <td>
      <%=f.text_field :last_name%>
      <div style='color: red;'><%= validation_errors @customer.errors['last_name'] %></div>
    </td>
  </tr>

  <%= f.fields_for :addresses do |address|%>

  <tr>
    <td>
      <%= address.label :primary_address %>
    </td>
    <td>
      <%=address.text_field :primary_address%>
      <div style='color: red;'><%= validation_errors @customer.errors['addresses.primary_address'] %></div>
    </td>
  </tr>

  <tr>
    <td>
      <%= address.label :city %>
    </td>
    <td>
      <%=address.text_field :city%>
      <div style='color: red;'><%= validation_errors @customer.errors['addresses.city'] %></div>
    </td>
  </tr>

  <tr>
    <td>
      <%= address.label :state %>
    </td>
    <td>
      <%=address.text_field :state%>
      <div style='color: red;'><%= validation_errors @customer.errors['addresses.state'] %></
      </td>
    </tr>

    <tr>
      <td>
        <%= address.label :address_type_id %>
      </td>
      <td>
        <%=address.select :address_type_id, options_for_select(AddressType.all.collect{|x|[x.add_type,x.id]})%>
      </td>
    </tr>

    <% end %>

  </table>
  <%=f.submit "Save"%>
  <% end %>


  <%= link_to "Back", customers_path%>